*{
    margin: 0;
    padding: 0;
}

:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
    --fonte-principal: 'Inter';
    --botao-efeito: #4e9bf8;
}

body{
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.principal{
    background-image: url(./imagens/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding:1em;
    color: var(--branco-principal);
    text-decoration: none;
    display:block;
    text-align: center;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: var(--botao-efeito);
    transform: scale(1.05);
    transition: 500ms;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.botao_secundario:hover{
    border:2px solid var(--botao-azul);
    background-color: transparent;
    transform: scale(1.05);
    transition: 500ms;
}

.container__aviso{
    font-size: 12px;
    color:var(--cinza-secundario);
}

.secundario{
    margin:0 10em;
}

.secundario__imagem{
    width: 80%;
}

.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.descricao__paragrafo{
    color: var(--cinza-secundario);
}

.botao__terciario{
    display: inline-block;
    margin-top: 0.8em;
}

.imagem_secundaria{
    padding-left: 6em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin:5em 0;
}

.lista__item{
    font-size: 32px;
    font-weight: 700;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;
    margin: 150px 70px 70px 50px;
}

.rodape__logo{
    width: 128px;
}

.rodape__lista{
    display: flex;
    gap: 1.5em;
}

.lista__link{
    list-style-type: none;
}

.rodape__item{
    color: var(--branco-principal);
    text-decoration: none;
}

.rodape__item:hover{
    color: var(--botao-azul);
    transition: 500ms;
}

.rodape__texto{
    color:var(--cinza-secundario);
    font-size: 14px;
}
